<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/normalize.css"/>
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">


  </head>
  <body>
    {{{body}}}
  </body>
</html>
