<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/normalize.css"/>
      <link rel="shortcut icon" href="/stylesheets/favicon.ico" type="image/x-icon">
      <link rel='stylesheet' href='/stylesheets/style2.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
