*, *:before, *:after {
    box-sizing: border-box;
}

body {
    height: 100%;
    background: url("/public/images/cosmic.jpg")no-repeat;
    background-size: cover;

}

.homepageNav {
    margin-top: -1%;
    height: 100px;
    background: black;

}

.homepageNameDiv {

    position: absolute;
    float: left;
    color: white;
    clear: both;
    margin-top: 1.4%;
    background: url('/public/images/matrix.jpg')no-repeat;
    background-size: cover;
    margin-left: 3%;
    width: 150px;
    padding-left: 2%;
    border: 1px black solid;
    border-radius: 90%;

}

.homepageNavDiv form {
    color: white;
    float: right;
    clear: both;
    margin-top: 3%;
    margin-right: 1%;
}

.homepageSubmit {
    background: url('/public/images/matrix.jpg')no-repeat;
    background-size: cover;
    border: white 1px solid;
    border-radius: 11%;

}

.homepageSubmit:hover {
    background: black;
    color: white;
}

.homepageRegisterSubmit {
    background: url('/public/images/matrix.jpg')no-repeat;
    background-size: cover;
    color:white;
    border: white 1px solid;
    border-radius: 11%;
    margin-left: 43%;
    margin-top: 5%;

}

.homepageRegisterSubmit:hover {
    background: black;
    color: white;
    border: white 1px solid;
}

.registerDiv {
    margin: 0 auto;
    border-radius: 50%;
    /*background: dodgerblue;*/
    margin-top: 9%;
    border: white 2px solid;
    background: black;
    width: 35%;
    height: 300px;
}

.registerUsername {
    color: white;
    margin-left: 20%;
    margin-top: 10%;
}

.registerPassword {
    color: white;
    margin-left: 21%;
    margin-top: 5%;
}

.registerHere {
    margin-left: 38%;
    padding-top: 4%;
    color: white;

}

.loginErrorDiv {
    position: absolute;
    top: 4%;
    left: 46%;
    color: red;
    float: left;
}

#username {
    color: black;
}

#password {
    color: black;
}

.registerErrorDiv {
    color: red;
    margin-left: 41%;
    margin-top: -5%;

}

.registerMessageDiv {
    background: black;
    border: white 2px solid;
    color: lawngreen;
    margin-left: 36%;
    margin-top: 1%;

}

.homeLogoutSubmit {
    float: right;
    margin-top: -2.4%;
    margin-right: 2%;
}

.homeLogoutSubmitButton {
    background: white;
    color: dodgerblue;
    border: white 1px solid;
    border-radius: 11%;
}

.homeLogoutSubmitButton:hover {
    background: dodgerblue;
    color: white;
}

.usernameDiv {
    color: white;
    margin-left: 87%;
    padding-top: 2%;
    clear: both;
}

.uploadButtonDiv button {
    margin-top: 2%;
    margin-left: 93.7%;
    background: white;
    color: dodgerblue;
    border: dodgerblue 1px solid;
    border-radius: 11%;
}

.uploadButtonDiv button:hover {
    background: dodgerblue;
    color: white;
    border-radius: 11%;
}

.explanationDiv {
    position: absolute;
    margin-left: 40%;
    padding-top: 2%;
    clear: right;
    color: white;
}